@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Website colors*/
:root {
  /* color: Timberwolf */
  --main-color: #ded5cd;
  /* color: Linen */
  --secondary-color: ##f3eae2;
  /* color: Dark moss-green */
  --font-color1: #41462d;
  /* color: Sage */
  --font-color2: #a1a288;
}

/*Generic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Slab', serif;
  letter-spacing: 1px;
  color: var(--font-color1);
  background-color: var(--secondary-color);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 10px;
}

/* Header styles */
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-color);
  box-shadow: 0 1px 1px var(--font-color1);
}

header img {
  margin-top: 15px;
  height: 100vw;
  width: 100vw;
  max-width: 60px;
  max-height: 60px;
}

header a {
  text-decoration: none !important;
  color: inherit;
}

#title {
  font-weight: 500;
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
}

/* Nav bar */
#menu-bar {
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  box-shadow: 0 1px 1px var(--font-color1);
  padding: 0 1rem;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 1.5rem;
}

#menu-bar ul {
  text-align: center;
  list-style-type: none;
  margin-bottom: 5px;
}

#menu-bar ul li {
  margin-top: 5px;
}

#menu-bar ul li:hover {
  color: var(--font-color2);
  text-decoration: underline;
  cursor: pointer;
}

/* Main */
main {
  /* Make main element take up surplus to push footer down */
  flex: 1 0 auto;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}

/* Footer */
#social-links {
  border-top: 1px solid var(--font-color1);
  background-color: var(--main-color);
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-links p {
  font-size: 0.6rem;
}

#social-links i {
  font-size: 1.8rem;
  color: var(--font-color1);
}

/* Media query: tablet and up (768px & up) */
@media screen and (min-width: 768px) {
  /*Header*/
  nav {
    display: block;
  }

  header {
    box-shadow: none;
    margin-bottom: 0;
  }

  header img {
    margin-top: 20px;
    max-width: 100px;
    max-height: 100px;
  }

  #title {
    font-size: 225%;
    line-height: 75px;
  }

  #menu-bar {
    position: relative;
    display: flex;
    margin-top: 0;
  }

  #menu-bar ul {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  #menu-bar li {
    font-size: 120%;
    margin: 0 25px 25px 10px;
  }

  .nav-toggle-label {
    display: none;
  }
  /* Main */
  main {
    margin-top: 265px;
  }

  /* footer */
  #social-links p {
    font-size: 0.8rem;
  }

  #social-links i {
    /* margin-top: 5px; */
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
}
