@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Website colors*/
:root {
  /* color: Timberwolf */
  --main-color: #ded5cd;
  /* color: Linen */
  --secondary-color: #f3eae2;
  /* color: Dark moss-green */
  --font-color1: #41462d;
  /* color: Beige */
  --font-color2: #e9ead6;
}

.video-section {
  margin: 0 auto;
  margin-right: 61px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.video-section p {
  text-align: justify;
  padding: 30px 40px 0;

}

.video-section hr {
  margin-left: 10%;
}

.titles {
  padding: 50px 0 10px;
  margin: 0 auto;
  font-size: 70%;
  text-align: center;
  line-height: 20px;

}

.overflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: flex; */
  overflow: scroll;
}

.middle {
  background-color: var(--font-color1);
  color: var(--font-color2);
}

.middle>.overflow iframe {
  border: 2px solid var(--secondary-color);
}

.overflow iframe {
  margin-top: 70px;
  border-radius: 30px;
  padding: 5px;
  border: 2px solid var(--font-color1);
}

@media screen and (min-width: 768px) {

  #video-section {
    margin: auto;
    min-height: auto;
    justify-content: center;
    max-width: 600px;
  }

}