@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Website colors*/
:root {
  /* color: Timberwolf */
  --main-color: #ded5cd;
  /* color: Linen */
  --secondary-color: #f3eae2;
  /* color: Dark moss-green */
  --font-color1: #41462d;
  /* color: Beige */
  --font-color2: #e9ead6;
}

.video-section {
  margin: 0 auto;
  margin-right: 61px;
  min-height: 100vh;
}

.text {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  padding: 30px 0 10px;
  font-size: 90%;
  text-align: center;
  line-height: 20px;
}

.text p {
  font-size: 1.1rem;
  padding-top: 30px;
  text-align: justify;
  max-width: 350px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.video {
  max-width: 95%;
  margin-top: 60px;
  border-radius: 30px;
  padding: 3px;
  border: 1px solid var(--secondary-color);
  box-shadow: 3px 3px 15px rgba(0, 00, 0, .9);
}

.middle {
  background-color: var(--font-color1);
  padding: 5px;
  color: var(--font-color2);
}

.middle>.container .video {
  border: 1px solid var(--font-color1);
}